In [1]:
from sklearn.datasets import fetch_california_housing

In [19]:
housing = fetch_california_housing()
X=housing.data
Y=housing.target

X.shape

(20640, 8)

In [20]:
X.shape

(20640, 8)

In [21]:
import pandas as pd
df=pd.DataFrame(X)
print(housing.feature_names)
df.columns = housing.feature_names
df["ha_ha"] = df.HouseAge**2
df.describe()

X2=df.values
X2.shape

['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']

(20640, 9)

In [5]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, random_state=0)
X2_train, X2_test, Y2_train, Y2_test = model_selection.train_test_split(X2,Y, random_state=0)

In [6]:
from sklearn.linear_model import LinearRegression
alg1=LinearRegression()
alg2=LinearRegression()

In [7]:
alg1.fit(X_train, Y_train)
alg2.fit(X2_train, Y2_train)

LinearRegression()

In [8]:
X_train

array([[   7.3003    ,   19.        ,    7.9616    , ...,    3.0816    ,
          38.46      , -122.68      ],
       [   5.9547    ,   18.        ,    6.5473251 , ...,    2.25102881,
          32.95      , -117.24      ],
       [   3.2125    ,   19.        ,    5.20754717, ...,    2.96226415,
          34.68      , -118.27      ],
       ...,
       [   3.1977    ,   31.        ,    3.64122137, ...,    1.7913486 ,
          36.58      , -121.9       ],
       [   5.6315    ,   34.        ,    4.54059829, ...,    2.24786325,
          33.62      , -117.93      ],
       [   1.3882    ,   15.        ,    3.9295302 , ...,    3.43624161,
          32.8       , -115.56      ]])

In [9]:
Y_pred = alg1.predict(X_test)
train_score = alg1.score(X_train, Y_train)
test_score = alg1.score(X_test, Y_test)

print("Train score: ", train_score)
print("Test score: ", test_score)


Y2_pred = alg2.predict(X2_test)
train2_score = alg2.score(X2_train, Y2_train)
test2_score = alg2.score(X2_test, Y2_test)

print("Train score: ", train2_score)
print("Test score: ", test2_score)

Train score:  0.6109633715458154
Test score:  0.5911695436410471
Train score:  0.6125782353264517
Test score:  0.5922731836445163

In [10]:
alg1.predict([[3.870671, 28.639486, 5.429000, 1.096675, 1425.476744, 3.070655, 35.631861, -119.569704]])

array([2.07306666])

In [30]:
Y_pred
df=pd.DataFrame(Y_pred)
df.head(10)

          0
0  2.278262
1  2.796067
2  1.908871
3  1.025755
4  2.958599
5  2.096802
6  2.994492
7  3.066597
8  2.985517
9  2.390298

In [31]:
df=pd.DataFrame(Y)
df.head(10)

       0
0  4.526
1  3.585
2  3.521
3  3.413
4  3.422
5  2.697
6  2.992
7  2.414
8  2.267
9  2.611